<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= I18n.t('application.name') %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicons/logo_icon.png',  :rel => 'apple-touch-icon',
      :type => 'image/png' %>
  </head>

  <body>

    <div class="container">

      <header>
        <div class="logo">
          <img src='<%= asset_path 'logos/title.png' %>'>
        </div>
      </header>

      <%= yield %>

      <footer>
        <p>Copyright 2014 OkuniColor. All Rights Reserved.</p>
      </footer>

    </div>

    <%= javascript_include_tag "application" %>

  </body>
</html>
